{% load i18n %}
<div class="overflow">
    <table class="listing">
        <thead>
            <th>User</th>
            <th>IP</th>
            <th>Agent</th>
            <th>Failures</th>
        </thead>
        <tbody>
            {% for attempt in attempts %}
                <tr>
                    <td>{{ attempt.username }}</td>
                    <td>{{ attempt.ip_address }}</td>
                    <td>{{ attempt.user_agent }}</td>
                    <td>{{ attempt.failures_since_start }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>